<%- include('../partials/header.ejs', { cssFile: cssFile }) %>  

<div class="product-details">
    <div class="card">
        <img id="product-img" alt="product image" src="<%= item.img %>">
        <h2 id="product-name"><%= item.name %></h2>
        <p class="price" id="product-price"><%= item.price %></p>
        <b><i id="product-condition"><%= item.condition %></i></b>
        <p id="product-description"><%= item.description %></p>
        <p class="italicized" id="product-stock"><%= item.stock %></p>
        <p>Seller: <%= item.seller %>
            <br><i><small>posted: <%= item.createdAt %></small></i>
        </p>
        <form class="bttns" id="rounded-corners" method="POST" action="/clothes/<%= item.id %>?_method=DELETE">
            <button type='submit' formaction="/clothes/<%= item.id %>/edit" formmethod="GET" class="edit">
                <b><i><small>Edit</small></i></b>
            </button>
            <button type="submit">Delete</button>
        </form>
        
        <br>
    </div>
</div>

<%- include('../partials/footer.ejs') %>
